* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--neutral3);
	border-radius: 100px;
	border: 4px solid transparent;
	background-clip: padding-box;
	cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--neutral4);
}

body {
	font-family: "Inter", sans-serif;

	height: 100vh;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: space-between;

	overflow: hidden;
}

.sidebar {
	width: 300px;
	height: 100vh;

	background-color: var(--neutral1);

	padding: 20px 20px;

	display: flex;
	flex-direction: column;
	row-gap: 16px;

	overflow: overlay;
}

.toggle-control {
	display: flex;
	justify-content: space-between;
}

.toggle-control span {
	color: var(--neutral7);
	cursor: pointer;
}

.radio-group {
	border: none;
	padding: 0;
	margin: 0;
}

.radio-group-title {
	color: var(--neutral7);
	margin-bottom: 12px;
}

.radio-option {
	margin-bottom: 8px;
	margin-left: 8px;

	display: flex;
	column-gap: 8px;
}

.radio-option-text--checked {
	cursor: pointer;
	color: var(--primary5);
}

.radio-option-text--unchecked {
	cursor: pointer;
	color: var(--neutral3);
}

.file-input {
	display: none;
}

.file-input-wrapper {
	width: 100%;

	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.file-input-wrapper>.buttons-row {
	display: flex;
	column-gap: 16px;
}

.file-input-wrapper>.buttons-row .button {
	flex: 0.5;
	margin-right: 16px;
}

.file-input-wrapper .title {
	color: var(--neutral7);
}

.number-input-wrapper {
	display: flex;
	align-items: center;
	height: fit-content;
	width: fit-content;
}

.number-input-wrapper--vertical{
	flex-direction: column;
}

.number-input-wrapper--horizontal{
	flex-direction: row;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.number-input {
	background: none;
	border: none;
	outline: none;

	width: 40px;

	text-align: center;

	color: var(--neutral7);
}

.number-input-wrapper .button,
.duration-input .button {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.length-control {
	display: none;
	column-gap: 8px;
}

.length-control span {
	color: var(--neutral7);
}

main {
	width: 700px;
	padding-bottom: 16px;

	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	height: 60px;
	margin-top: 8px;
}

.text-to-type-box {
	margin-top: -4px;
	flex: 1;

	overflow: auto;

	white-space: pre-wrap;
}

.input-box {
	height: 100px;
	border: 1px solid;
	padding: 8px 16px;

	border: 1px solid var(--neutral2);
	border-radius: 8px;

	color: var(--neutral4);
	overflow-wrap: break-word;

	resize: none;

	transition:
		border-color 100ms,
		color 100ms;

	pointer-events: none;
}

.input-box:focus {
	outline: none;
	border: 1px solid var(--neutral4);

	color: var(--neutral7);
}

.badges-row {
	display: flex;
	column-gap: 16px;
}

.badges-row .badge {
	flex: 1;
}

main>.buttons-row {
	display: flex;
	column-gap: 16px;
	padding-inline: 22%;
}

main>.buttons-row .button {
	flex: 1;
}

/* .numpad-container {
	padding-inline: 35%;
} */

.finger-mapping-container {
	width: 100%;
	padding: 0;

	position: relative;
}

.finger-mapping-container .numpad {
	display: none;
}

.hand-container {
	display: none;

	opacity: 80%;

	width: 30%;
	aspect-ratio: 1;

	position: absolute;

	top: 50%;
	left: 50%;
}

#temporary-hand-container{
	display: none;
}

#temporary-hand-container .thumb,
#temporary-hand-container .index,
#temporary-hand-container .middle,
#temporary-hand-container .ring{
	display: none;
}

.hand-container img {
	position: absolute;
}

.hand {
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.thumb {
	width: 27.2%;
	top: 50%;
	left: 50%;
	transform: translate(-184%, -47%);
}

.index {
	width: 17.2%;
	top: 50%;
	left: 50%;

	transform: translate(-106%, -136%);
}

.middle {
	width: 16.75%;
	top: 50%;
	left: 50%;

	transform: translate(7%, -130%);
}

.ring {
	width: 19.5%;
	top: 50%;
	left: 50%;

	transform: translate(80%, -123%);
}

.pinky {
	width: 18.6%;
	top: 50%;
	left: 50%;

	transform: translate(168.5%, -120%);
}

.modal-overlay {
	background-color: var(--overlay-filter);

	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.close-button {
	width: 24px;
	height: 24px;

	padding: 0;

	background: transparent;
	border: none;
	border-radius: 100px;

	cursor: pointer;
}

.modal {
	background-color: var(--white);

	display: flex;
	flex-direction: column;
	align-items: end;
	row-gap: 16px;

	padding: 16px;

	border: none;
	border-radius: 8px;
}

.modal-overlay--keyboard {
	display: none;
}

.modal--keyboard {
	width: 700px;
}

.modal-overlay--numpad {
	display: none;
}

.modal--numpad {
	width: 234px;
}

.modal-overlay--getting-started-overlay {
	display: none;
}

.modal--getting-started-overlay {
	display: flex;
	flex-direction: column;
	align-items: start;

	row-gap: 16px;
}

.modal--getting-started-overlay .close-button{
	align-self: end;
}

.step {
	display: flex;
	column-gap: 8px;
}

.step-text {
	color: var(--neutral7);
}

.list-step {
	display: flex;
	flex-direction: column;
}

.list-step ul {
	margin: 0;
	padding-left: 24px;
}

.step-badge {
	width: 24px;
	height: 24px;

	border: 2px solid var(--primary5);
	border-radius: 50%;

	color: var(--primary5);

	display: flex;
	justify-content: center;
	align-items: center;
}

#include-half-space-option {
	width: 100%;
	display: none;
	justify-content: left;
	column-gap: 8px;
}

.shifted-keys-section {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: left;
	row-gap: 8px;
}

.shifted-keys-section .toggle-control {
	width: 100%;
	display: flex;
	justify-content: left;
	column-gap: 8px;
}

.shifted-keys-section .keyboard {
	opacity: 60%;
	pointer-events: none;
}

.line {
	width: 100%;
	height: 1px;

	background-color: var(--neutral4);
}

.getting-started-title {
	width: fit-content;
	display: flex;
	column-gap: 8px;
	align-items: center;
	cursor: pointer;
}

.getting-started-title p {
	color: var(--neutral7);
}

.getting-started-title img {
	width: 20px;
}

.timer-mode-section{
	display: flex;
	justify-content: space-between;

	color: var(--neutral7);
}

.duration-input-section {
	display: none;
	flex-direction: column;
	row-gap: 4px;
	align-items: center;
}

.duration-input {
	display: flex;
	align-items: center;
}

#filter-button{
	margin-top: -8px;
	margin-bottom: 8px;

	display: none;
}